* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(212, 71, 71);
    padding: 20px;
    margin-top: 20px;
}

p {
    max-width: 600px;
    color: rgb(10, 92, 3);
    text-align: center;
    margin: 0 auto;
}